In [1]:
import pandas as pd
import numpy as np

In [2]:
df1 = pd.DataFrame({'Техн. Характеристика': ['Мощность, л.с.', 'max скорость, км/ч', 'Снаряженная масса, кг', 'Объем багажника, л'],
                  'Tesla Model 3': ['258', '225', '1730', '425'],
                  'Tesla Model S 90D': ['422', '250', '2220', '745'],
                  'Tesla Model X': ['333', '210', '2352', '187'],
                  })

In [3]:
df1

    Техн. Характеристика Tesla Model 3 Tesla Model S 90D Tesla Model X
0         Мощность, л.с.           258               422           333
1     max скорость, км/ч           225               250           210
2  Снаряженная масса, кг          1730              2220          2352
3     Объем багажника, л           425               745           187

In [4]:
df1['Tesla Model 3'] = df1['Tesla Model 3'].astype(np.int64)
df1['Tesla Model S 90D'] = df1['Tesla Model S 90D'].astype(np.int64)
df1['Tesla Model X'] = df1['Tesla Model X'].astype(np.int64)

In [5]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 4 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Техн. Характеристика  4 non-null      object
 1   Tesla Model 3         4 non-null      int64
 2   Tesla Model S 90D     4 non-null      int64
 3   Tesla Model X         4 non-null      int64
dtypes: int64(3), object(1)
memory usage: 256.0+ bytes

In [6]:
df1

    Техн. Характеристика  Tesla Model 3  Tesla Model S 90D  Tesla Model X
0         Мощность, л.с.            258                422            333
1     max скорость, км/ч            225                250            210
2  Снаряженная масса, кг           1730               2220           2352
3     Объем багажника, л            425                745            187

In [7]:
df2 = pd.DataFrame({'Эконом. Характеристика': ['Цена продаж(рубеж), $', 'Цена в России, $'],
                  'Tesla Model 3': ['19939', '95778.38'],
                  'Tesla Model S 90D': ['24939', '544031.22'],
                  'Tesla Model X': ['142000', '192750.29'],
                  })

In [8]:
df2

  Эконом. Характеристика Tesla Model 3 Tesla Model S 90D Tesla Model X
0  Цена продаж(рубеж), $         19939             24939        142000
1       Цена в России, $      95778.38         544031.22     192750.29

In [9]:
df2['Tesla Model 3'] = df2['Tesla Model 3'].astype(np.float64)
df2['Tesla Model S 90D'] = df2['Tesla Model S 90D'].astype(np.float64)
df2['Tesla Model X'] = df2['Tesla Model X'].astype(np.float64)

In [10]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Эконом. Характеристика  2 non-null      object
 1   Tesla Model 3           2 non-null      float64
 2   Tesla Model S 90D       2 non-null      float64
 3   Tesla Model X           2 non-null      float64
dtypes: float64(3), object(1)
memory usage: 192.0+ bytes

### Лучшее значение(идеальная модель)

In [11]:
df1['Лучшее зн-е'] =  df1.max(axis=1)
df1

,Техн. Характеристика,Tesla Model 3,Tesla Model S 90D,Tesla Model X,Лучшее зн-е
0,"Мощность, л.с.",258,422,333,422
1,"max скорость, км/ч",225,250,210,250
2,"Снаряженная масса, кг",1730,2220,2352,2352
3,"Объем багажника, л",425,745,187,745

In [12]:
df2['Лучшее зн-е'] =  df2.min(axis=1)
df2

,Эконом. Характеристика,Tesla Model 3,Tesla Model S 90D,Tesla Model X,Лучшее зн-е
0,"Цена продаж(рубеж), $",19939.00,24939.00,142000.00,19939.00
1,"Цена в России, $",95778.38,544031.22,192750.29,95778.38

### Расчет частных нормированных показателей

#### Техн. хар-ки

In [13]:
list_mod_3 = []
for i in range(len(df1['Tesla Model 3'])):
    elem = df1['Tesla Model 3'].loc[df1.index[i]] / df1['Лучшее зн-е'].loc[df1.index[i]]
    list_mod_3.append(elem)
    
list_mod_3

[0.6113744075829384, 0.9, 0.7355442176870748, 0.5704697986577181]

In [14]:
list_mod_s = []
for i in range(len(df1['Tesla Model S 90D'])):
    elem = df1['Tesla Model S 90D'].loc[df1.index[i]] / df1['Лучшее зн-е'].loc[df1.index[i]]
    list_mod_s.append(elem)
    
list_mod_s

[1.0, 1.0, 0.9438775510204082, 1.0]

In [15]:
list_mod_x = []
for i in range(len(df1['Tesla Model X'])):
    elem = df1['Tesla Model X'].loc[df1.index[i]] / df1['Лучшее зн-е'].loc[df1.index[i]]
    list_mod_x.append(elem)
    
list_mod_x

[0.7890995260663507, 0.84, 1.0, 0.25100671140939596]

#### Эконом. хар-ки

In [16]:
list_mod_3_e = []
for i in range(len(df2['Tesla Model 3'])):
    elem = df2['Лучшее зн-е'].loc[df2.index[i]] / df2['Tesla Model 3'].loc[df2.index[i]]
    list_mod_3_e.append(elem)
    
list_mod_3_e

[1.0, 1.0]

In [17]:
list_mod_s_e = []
for i in range(len(df2['Tesla Model S 90D'])):
    elem = df2['Лучшее зн-е'].loc[df2.index[i]] / df2['Tesla Model S 90D'].loc[df2.index[i]]
    list_mod_s_e.append(elem)
    
list_mod_s_e

[0.7995108063675368, 0.17605309489407614]

In [18]:
list_mod_x_e = []
for i in range(len(df2['Tesla Model X'])):
    elem = df2['Лучшее зн-е'].loc[df2.index[i]] / df2['Tesla Model X'].loc[df2.index[i]]
    list_mod_x_e.append(elem)
    
list_mod_x_e

[0.14041549295774647, 0.49690394758939144]

#### Таблица

In [19]:
df_chp_1 = pd.DataFrame({'Техн. Характеристика': ['Мощность, л.с.', 'max скорость, км/ч', 'Снаряженная масса, кг', 'Объем багажника, л'],
                  'Tesla Model 3': [list_mod_3[0], list_mod_3[1], list_mod_3[2], list_mod_3[3]],
                  'Tesla Model S 90D': [list_mod_s[0], list_mod_s[1], list_mod_s[2], list_mod_s[3]],
                  'Tesla Model X': [list_mod_x[0], list_mod_x[1], list_mod_x[2], list_mod_x[3]],
                  })

In [20]:
df_chp_1

    Техн. Характеристика  Tesla Model 3  Tesla Model S 90D  Tesla Model X
0         Мощность, л.с.       0.611374           1.000000       0.789100
1     max скорость, км/ч       0.900000           1.000000       0.840000
2  Снаряженная масса, кг       0.735544           0.943878       1.000000
3     Объем багажника, л       0.570470           1.000000       0.251007

In [21]:
df_chp_2 = pd.DataFrame({'Эконом. Характеристика': ['Цена продаж(рубеж), $', 'Цена в России, $'],
                  'Tesla Model 3': [list_mod_3_e[0], list_mod_3_e[1]],
                  'Tesla Model S 90D': [list_mod_s_e[0], list_mod_s_e[1]],
                  'Tesla Model X': [list_mod_x_e[0], list_mod_x_e[1]],
                  })

In [22]:
df_chp_2

  Эконом. Характеристика  Tesla Model 3  Tesla Model S 90D  Tesla Model X
0  Цена продаж(рубеж), $            1.0           0.799511       0.140415
1       Цена в России, $            1.0           0.176053       0.496904

### Матрица парных сравнений

In [28]:
list1 = []
list2 = []
list3 = []
list4 = []

for i in range(4):
    list1.append(float(input('Введите оценку сравнения: ')))
    list2.append(float(input('Введите оценку сравнения: ')))
    list3.append(float(input('Введите оценку сравнения: ')))
    list4.append(float(input('Введите оценку сравнения: ')))

Введите оценку сравнения: 1
Введите оценку сравнения: 2
Введите оценку сравнения: 2
Введите оценку сравнения: 3
Введите оценку сравнения: 0.5
Введите оценку сравнения: 1
Введите оценку сравнения: 3
Введите оценку сравнения: 4
Введите оценку сравнения: 0.5
Введите оценку сравнения: 0.3
Введите оценку сравнения: 1
Введите оценку сравнения: 2
Введите оценку сравнения: 0.3
Введите оценку сравнения: 0.25
Введите оценку сравнения: 0.5
Введите оценку сравнения: 1

In [29]:
list1

[1.0, 0.5, 0.5, 0.3]

In [30]:
matr_tehn = pd.DataFrame({'Техн. Характеристика': ['Мощность, л.с.', 'max скорость, км/ч', 'Снаряженная масса, кг', 'Объем багажника, л'],
                  'Мощность, л.с.': [list1[0], list1[1], list1[2], list1[3]],
                  'max скорость, км/ч': [list2[0], list2[1], list2[2], list2[3]],
                  'Снаряженная масса, кг': [list3[0], list3[1], list3[2], list3[3]],
                  'Объем багажника, л': [list4[0], list4[1], list4[2], list4[3]],
                  })

In [31]:
matr_tehn

,Техн. Характеристика,"Мощность, л.с.","max скорость, км/ч","Снаряженная масса, кг","Объем багажника, л"
0,"Мощность, л.с.",1.0,2.00,2.0,3.0
1,"max скорость, км/ч",0.5,1.00,3.0,4.0
2,"Снаряженная масса, кг",0.5,0.30,1.0,2.0
3,"Объем багажника, л",0.3,0.25,0.5,1.0

In [32]:
list1_e = []
list2_e = []

for i in range(2):
    list1_e.append(float(input('Введите оценку сравнения: ')))
    list2_e.append(float(input('Введите оценку сравнения: ')))

Введите оценку сравнения: 1
Введите оценку сравнения: 2
Введите оценку сравнения: 0.5
Введите оценку сравнения: 1

In [33]:
matr_econom = pd.DataFrame({'Эконом. Характеристика': ['Цена продаж(рубеж), $', 'Цена в России, $'],
                  'Цена продаж(рубеж), $': [list1_e[0], list1_e[1]],
                  'Цена в России, $': [list2_e[0], list2_e[1]],
                  })

In [34]:
matr_econom

  Эконом. Характеристика  Цена продаж(рубеж), $  Цена в России, $
0  Цена продаж(рубеж), $                    1.0               2.0
1       Цена в России, $                    0.5               1.0

#### Вектор приоритетов

In [35]:
vect1 = []

m1 = sum(list1)
m2 = sum(list2)
m3 = sum(list3)
m4 = sum(list4)

vect1.append(m1 / (m1 + m2 + m3 + m4))
vect1.append(m2 / (m1 + m2 + m3 + m4))
vect1.append(m3 / (m1 + m2 + m3 + m4))
vect1.append(m4 / (m1 + m2 + m3 + m4))

vect_obsch = sum(vect1)
vect_obsch

0.9999999999999999

In [36]:
matr_tehn['Вектор приоритетов'] = vect1
matr_tehn

,Техн. Характеристика,"Мощность, л.с.","max скорость, км/ч","Снаряженная масса, кг","Объем багажника, л",Вектор приоритетов
0,"Мощность, л.с.",1.0,2.00,2.0,3.0,0.102908
1,"max скорость, км/ч",0.5,1.00,3.0,4.0,0.158837
2,"Снаряженная масса, кг",0.5,0.30,1.0,2.0,0.290828
3,"Объем багажника, л",0.3,0.25,0.5,1.0,0.447427

In [51]:
vect2 = []

m2_1 = sum(list1_e)
m2_2 = sum(list2_e)

vect2.append(m2_1 / (m2_1 + m2_2))
vect2.append(m2_2 / (m2_1 + m2_2))

vect_obsch_2 = sum(vect2)
vect_obsch_2

1.0

In [52]:
matr_econom['Вектор приоритетов'] = vect2
matr_econom

,Эконом. Характеристика,"Цена продаж(рубеж), $","Цена в России, $",Вектор приоритетов
0,"Цена продаж(рубеж), $",1.0,2.0,0.333333
1,"Цена в России, $",0.5,1.0,0.666667

### Расчет  показателей технической и экономической конкурентноспособности

##### Обобщенный расчет показат. техн. кон-ти

In [38]:
obtehn_mod3 = list_mod_3[0] * vect1[0] + list_mod_3[1] * vect1[3] + list_mod_3[2] * vect1[2] + list_mod_3[3] * vect1[1]
obtehn_mods = list_mod_s[0] * vect1[0] + list_mod_s[1] * vect1[3] + list_mod_s[2] * vect1[2] + list_mod_s[3] * vect1[1]
obtehn_modx = list_mod_x[0] * vect1[0] + list_mod_x[1] * vect1[3] + list_mod_x[2] * vect1[2] + list_mod_x[3] * vect1[1]

obobch = [obtehn_mod3, obtehn_mods, obtehn_modx]

In [41]:
ob_tehn = pd.DataFrame({'Модель Tesla': ['Tesla Model 3', 'Tesla Model S 90D', 'Tesla Model X'],
                  'Расчет показат. техн. конк-ти': [obobch[0], obobch[1], obobch[2]],
                  })

In [45]:
df_ob_tehn = pd.DataFrame(ob_tehn)
sort1 = df_ob_tehn.sort_values(by='Расчет показат. техн. конк-ти', ascending=False)

In [49]:
sort1['Рейтинг'] = [1, 2, 3]

In [50]:
sort1

        Модель Tesla  Расчет показат. техн. конк-ти  Рейтинг
1  Tesla Model S 90D                       0.983678        1
2      Tesla Model X                       0.787741        2
0      Tesla Model 3                       0.770128        3

#### Обобщенный расчет экономич. конк-ти

In [53]:
obeconom_mod3 = list_mod_3_e[0] * vect2[0] + list_mod_3_e[1] * vect2[1] 
obeconom_mods = list_mod_s_e[0] * vect2[0] + list_mod_s_e[1] * vect2[1] 
obeconom_modx = list_mod_x_e[0] * vect2[0] + list_mod_x_e[1] * vect2[1] 

obobch2 = [obeconom_mod3, obeconom_mods, obeconom_modx]

In [54]:
ob_econom = pd.DataFrame({'Модель Tesla': ['Tesla Model 3', 'Tesla Model S 90D', 'Tesla Model X'],
                  'Расчет показат. экономич. конк-ти': [obobch2[0], obobch2[1], obobch2[2]],
                  })

In [56]:
df_ob_econom = pd.DataFrame(ob_econom)
sort2 = df_ob_econom.sort_values(by='Расчет показат. экономич. конк-ти', ascending=False)

In [57]:
sort2['Рейтинг'] = [1, 2, 3]

In [58]:
sort2

        Модель Tesla  Расчет показат. экономич. конк-ти  Рейтинг
0      Tesla Model 3                           1.000000        1
1  Tesla Model S 90D                           0.383872        2
2      Tesla Model X                           0.378074        3

### Расчет интегр. показ. конкур-ти

In [64]:
int_pok = [obobch[0] * 0.5 + obobch2[0] * 0.5, obobch[1] * 0.5 + obobch2[1] * 0.5, obobch[2] * 0.5 + obobch2[2] * 0.5]
int_pok

[0.8850641238846005, 0.6837751835121373, 0.5829075386369822]

In [65]:
df_end = pd.DataFrame({'Модель Tesla': ['Tesla Model 3', 'Tesla Model S 90D', 'Tesla Model X'],
                  'Расчет инт. показат. конк-ти': [int_pok[0], int_pok[1], int_pok[2]],
                  })

In [66]:
df_end_2 = pd.DataFrame(df_end)
sort_end = df_end_2.sort_values(by='Расчет инт. показат. конк-ти', ascending=False)
sort_end['Рейтинг'] = [1, 2, 3]
sort_end

        Модель Tesla  Расчет инт. показат. конк-ти  Рейтинг
0      Tesla Model 3                      0.885064        1
1  Tesla Model S 90D                      0.683775        2
2      Tesla Model X                      0.582908        3